body{
	width : 533px;
	height : 300px;
	padding : 0px;
	margin : 0px;
	color : #262626;
	font-size : .8em;
}

/** Global */
ul,li {
	list-style-type : none;
}
ul,li,p,h1,h2,h3{
	padding : 0px;
	margin : 0px;
}
.general-padded-block{
	padding : 3px;
}
.views{
	display : none;
}

/** header */
.gray-back{
	background-color : #b2afaf;
}
header#topbar ul li{
	display : inline-block;
	margin-right : 5px;
}
header#topbar ul li:first-child{
	margin-right: 20px;
}
.topnav-item{
	background-color: #68228B;
	color: white;
	padding: 1px 5px;
	cursor: pointer;
}

/** Layout */
#layout{
	height: 260px;
}
.fill-screen{
	height: 260px;
}
.subscreen-header{
	height: 70px;
	background-color: #E6E6FA;
}
.subscreen-overflow{
	height: 190px;
	overflow: auto;
}

#plist-left{
	float: left;
	width: 120px;
	height : 254px;
	background-color: #E6E6FA;
}
#plist-right{
	float: left;
	width: 400px;
	height : 254px;
	overflow: auto;
}
#plist-right ul li{
	font-size: 2em;
	padding: 10px 5px;
	cursor: pointer;
	border-left: 4px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
}
#plist-right ul li:hover{
	background-color: #d7d7d7;
}

#plist li{
	padding: 10px 5px;
	border-left: 4px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
}
#plist li:hover{
	background-color: #EEEEEE;
}
#plist li span.bigtext{
	font-size: 1.5em;
}


/** Footer */
#live-url{
	width : 350px;

}
