body{
	width : 533px;
	height : 300px;
	padding : 0px;
	margin : 0px;
	color : #262626;
	font-size : .8em;
}

/** Global */
ul,li {
	list-style-type : none;
}
ul,li,p,h1,h2,h3{
	padding : 0px;
	margin : 0px;
}

.header_icons{
	display: inline;
	background-color: #56565e;
	border-radius: 10px;
	color: #fff;
	padding: 5px;
}

.general-padded-block{
}
.views{
	display : none;
}

/** header */
header#topbar ul li{
	display : inline-block;
	margin-right : 2px;
}
header#topbar ul li:first-child{
	margin-right: 2px;
}
.topnav-item{
	color: white;
	padding: 1px 5px;
	cursor: pointer;
	font-family: arial;
}
.logo{
	float: left;
	margin-left: 5px;
	margin-top: 5px
}
.header_icons{
	float: left;
	padding: 5px;
	margin: 15px 0 5px 100px;
	background-color: #56565e;
	border-radius: 10px;
}

.header_icons li span{
	font-size: 14px;
	color:#fff;
	font-weight: 900;
	font-family: arial;
}

/** Layout */
#layout{
	height: 260px;
}
.fill-screen{
	height: 260px;
}
.subscreen-header{
	height: 70px;
	background-color: #E6E6FA;
}
.subscreen-overflow{
	height: 190px;
	overflow: auto;
}

#projinks-listing ul li{
	color: #68228b;
	background-color: #e7dbed;
	padding: 4px;
	cursor: pointer;
	margin-bottom: 1px;
}


#plist li{
	padding: 10px 5px;
	border-left: 4px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
}
#plist li:hover{
	background-color: #EEEEEE;
}
#plist li span.bigtext{
	font-size: 1.5em;
}

.letter-blocks{
	font-size: 2.5em;
	width: 100px;
	text-align: center;
	background-color: #EEEEEE;
	cursor: pointer;
	margin-bottom: 10px;
}

.secondary-back{
	background-color: #E6E6FA;
}

#cp-view{
	font-size: 3em;
	text-align: center;
	padding: 15px;
}
#cp-view input[type=text]{
	display: block;
	width: 100%;
	font-size: .9em;
	background-color: #EEEEEE;
	margin: 25px 0px;
}
/** Footer */
.footer{
	height:40px;
	background-color:#56565e;
	margin: 5px;
}

.footer input {
	background-color:#56565e;
	float: left;
	border: solid 0px;
	border-bottom: solid 2px #fff;
	margin-left: 260px;
	margin-top: 10px;
}

.footer span{
	float: left;
	font-family: arial;
	margin-top:12px;
	color:#fff;
}